@charset "utf-8";

/* --- normalize --- */
img {
  vertical-align: middle;
}
/* --- normalize --- */

ul > li {
  list-style-type: none;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

body {
  background-color: #efefef;
  font-size: 14px;
  color: #333;

}

#wrap {
  width: 920px;
  margin: 0 auto;
}

nav {
  background-color: #fff;
  padding: 2px 0;
}

nav > ul > li {
  float: left;
  padding: 0 30px;
}

nav > ul > li > a {
  color: #333;
  text-decoration: none;
}

.post > dl > dt, .post > dl > dd {
  float: left;
  margin: 8px 0;
}

.post > dl > dt {
  width: 180px;
  padding: 10px 0;
  clear: both;
  font-size: 18px;
  padding: 10px 0;
}

.post > dl > dd > div > span {
  display: block;
}

.post > dl > dd > div > input, .post > dl > dd > div > textarea {
  width: 480px;
}

#body {
  height: 150px;
}

.post button {
  background-color: #009cd3;
  color: #ffffff;
  font-size: 20px;
  width: 120px;
  display: block;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  border: 3px solid #009cd3;
  margin: 8px 0 16px 180px;
}

.post button:hover {
  background-color: #ffffff;
  color: #009cd3;
  cursor: pointer;
}

.post > dl > dt > label.required:after {
  content: " * ";
  color: #ff0000;
}

.data {
  background-color: #fff;
  padding: 8px;
}

.data ul {
  padding-inline-start: 0;
}  

.data article > ul > li > pre.body {
  font-size: 16px;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.data article > ul > li > div.buttons {
  padding: 8px;
  margin-left: 60%;
}

.data article > ul > li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-family: 'Bitter', serif;
  width: 72px;
  display: block;
  text-align: center;
  line-height: 24px;
  border-radius: 4px;
  float: left;
}

.data article > ul > li a:hover {
  text-decoration: none;
  background-color: #ffffff;
}

.data article > ul > li a:nth-child(1) {
  margin-right: 16px;
}

.edit {
  border: 3px solid #5ed400;
  background-color: #5ed400;
}

.edit:hover {
  color: #5ed400;
}

.delete {
  border: 3px solid #f51a0a;
  background-color: #f51a0a;
}

.delete:hover {
  color: #f51a0a;
}

footer {
  text-align: center;
}

.copyright {
  margin-top: 40px;
  color: #777;
}

.errs > li {
  margin-bottom: 2px;
}

.err {
  color: #ff0000;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  #wrap {
    width: 96%;
  }

  nav {
    padding: 2px 0;
  }

  nav > ul > li {
    float: none;
    padding: 0;
    list-style-type: disc;
  }

  .post > dl > dt, .post > dl > dd {
    float: none;
  }
  
  .post > dl > dd > div > input, .post > dl > dd > div > textarea, .post button {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .post button {
    margin-left: 0;
  }

  .data article > ul > li a {
    float: none;
  }

  .data article > ul > li a:nth-child(1) {
    margin-right: 0;
    margin-bottom: 8px;
  }
}